canvas.something {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
}

button {
	display: flex;
	align-items: center;
}
